.todo-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 4px 0;
    flex-grow: 1;
}

.todo-item:hover {
}

.control{
    visibility: hidden;
    color: #808080;
}

.todo-item-control:hover .control{
    visibility: visible
}

.todo-item-control:active .control{
    visibility: visible
}
.todo-item:hover .control{
    visibility: hidden
}

.todo-item-control{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 18px;
}

.todo-item-info{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    color: #808080;
}

.strike{
    text-decoration: line-through;
    color: #808080
}
.normal{
    text-decoration: none;
    color: #000000
}

.todo-item-divider{
    padding-top: 16px;
}