.todo-input{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: flex-start;
    padding: 16px 16px;
    position: relative;
    background: #FFFFFF;
    border: 2px solid #808080;
    border-radius: 8px;

}
.input{
    width: 100%;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 0;
    gap: 12px;
}

.action-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.add-new{
    width: 80px;
}

.input-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}