.content{
    padding: 64px 128px 64px 128px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 1000px;
}

.title {
    padding-left: 70px;
}

.todo-input-container{
    padding-left: 64px;
}